@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext);
@font-face {
  font-family: 'PantonBold';
  src: url("../fonts/PantonBold.eot");
  src: url("../fonts/PantonBold.eot") format("embedded-opentype"), url("../fonts/PantonBold.woff2") format("woff2"), url("../fonts/PantonBold.woff") format("woff"), url("../fonts/PantonBold.ttf") format("truetype"), url("../fonts/PantonBold.svg#PantonBold") format("svg"); }
@font-face {
  font-family: 'PantonRegular';
  src: url("../fonts/PantonRegular.eot");
  src: url("../fonts/PantonRegular.eot") format("embedded-opentype"), url("../fonts/PantonRegular.woff2") format("woff2"), url("../fonts/PantonRegular.woff") format("woff"), url("../fonts/PantonRegular.ttf") format("truetype"), url("../fonts/PantonRegular.svg#PantonRegular") format("svg"); }
@font-face {
  font-family: 'PantonLight';
  src: url("../fonts/PantonLight.eot");
  src: url("../fonts/PantonLight.eot") format("embedded-opentype"), url("../fonts/PantonLight.woff2") format("woff2"), url("../fonts/PantonLight.woff") format("woff"), url("../fonts/PantonLight.ttf") format("truetype"), url("../fonts/PantonLight.svg#PantonLight") format("svg"); }
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
.slider .fotorama__nav-wrap {
  margin-top: -30px;
  height: 30px;
  background: #fff;
  display: block;
  float: left;
  width: 100%;
  z-index: 99;
  padding-bottom: 0; }
.slider .fotorama__dot {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #e37d97;
  background-color: transparent;
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0; }
.slider .fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-width: 1px;
  /* border: 1px solid #fff; */
  padding: 2px;
  position: relative; }
  .slider .fotorama__nav__frame.fotorama__active .fotorama__dot:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #E37D97;
    display: block; }
.slider .fotorama__nav--dots .fotorama__nav__frame {
  width: inherit;
  height: 30px; }
.slider .fotorama__nav {
  background-color: #FFF;
  position: relative; }
  .slider .fotorama__nav:after {
    content: ""; }
.slider .fotorama__nav.fotorama__nav--dots {
  border-radius: 100% 100% 0 0/100% 100% 0 0;
  width: 200% !important;
  height: 80px;
  margin-top: -10px;
  -webkit-box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.4); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:active,
a:hover {
  outline: 0; }

body {
  background-image: url("../img/body_bg.png");
  background-repeat: repeat-y;
  font-family: "PantonRegular"; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none;
  padding: 0; }

.block_title {
  color: #fff;
  font-size: 3.5em;
  text-align: center;
  margin-top: 15px; }

.p0 {
  padding: 0; }

.p5 {
  padding: 0 5px; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

@media only screen and (min-width: 1400px) {
  .container {
    width: 1130px; } }
@media only screen and (min-width: 1920px) {
  .container {
    width: 1300px; } }
.icon-info {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  background-image: url("../img/header-info.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
  width: 19px;
  height: 13px;
  margin-right: 3px; }
.icon-delivery {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
  width: 19px;
  height: 13px;
  margin-right: 3px; }
.icon-phone {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  margin-right: 15px;
  width: 18px;
  height: 18px;
  background-image: url("../img/contacts-phone.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center; }
.icon-clock {
  display: inline-block;
  line-height: normal;
  margin-right: 15px;
  margin-bottom: 2px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
  width: 21px;
  height: 21px;
  background-image: url("../img/contacts-clock.png"); }
.icon-authorization {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
  margin-right: 3px;
  width: 14px;
  height: 14px;
  background-image: url("../img/header-author.png"); }
.icon-registration {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
  width: 17px;
  height: 15px;
  background-image: url("../img/header-reg.png");
  margin-right: 3px; }
.icon-basket {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  background-image: url("../img/header-bascket.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 19px;
  height: 19px;
  margin-right: 3px; }
.icon-weigher {
  display: block;
  background-image: url("../img/header_weigher.png");
  background-repeat: no-repeat;
  width: 16px;
  height: 15px;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  margin-bottom: 3px; }

.header {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-image: url("../img/header_bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  height: 305px; }
  .header__topline {
    display: block;
    float: left;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 10px;
    line-height: 40px;
    background-image: url("../img/topline-bg.png");
    background-repeat: repeat-x; }
    .header__topline:before, .header__topline:after {
      display: table;
      content: " "; }
    .header__topline:after {
      clear: both; }
    .header__topline a {
      display: inline-block;
      color: #FFF;
      font-size: 14px;
      margin-right: 15px; }
    .header__topline--center {
      text-align: center; }
    .header__topline--right {
      text-align: right; }
  .header__info {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin: 25px 0; }
    .header__info--logo {
      display: block;
      float: left;
      position: relative;
      width: 100%; }
      .header__info--logo img {
        width: 128px;
        display: block;
        margin: 0 auto;
        max-width: 100%; }
    .header__info--contacts {
      display: block;
      float: left;
      position: relative;
      margin-top: 25px; }
      .header__info--contacts h3 {
        font-size: 30px;
        color: #4D4B4B;
        margin-bottom: 20px;
        position: relative; }
        .header__info--contacts h3:after {
          content: '';
          width: 21px;
          height: 44px;
          background-image: url("../img/contacts-arrow.png");
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          -o-background-size: contain;
          background-size: contain;
          position: absolute;
          right: -10px;
          bottom: -30px; }
      .header__info--contacts p.title {
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        color: #898989; }
      .header__info--contacts p {
        font-size: 12px;
        color: #4D4B4B;
        margin-bottom: 5px; }
      .header__info--contacts--time {
        display: block;
        float: left;
        width: 50%; }
        .header__info--contacts--time--text {
          display: inline-block; }
      .header__info--contacts--callback {
        display: block;
        float: left;
        position: relative;
        width: 40%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 5px;
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        color: #6E6E6E;
        text-decoration: underline;
        text-decoration-style: dashed;
        line-height: 14px; }
        .header__info--contacts--callback:before, .header__info--contacts--callback:after {
          display: table;
          content: " "; }
        .header__info--contacts--callback:after {
          clear: both; }
    .header__info--right {
      display: block;
      float: left;
      position: relative;
      width: 100%;
      margin-top: 15px;
      text-align: right; }
      .header__info--right a.new-year {
        display: block;
        float: left;
        width: 98px;
        height: 89px;
        background-image: url("../img/new-year.png");
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        text-align: center;
        font-family: "PantonBold";
        font-weight: 900;
        color: #FFF;
        font-size: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 30px 26px 20px 10px;
        text-transform: uppercase;
        line-height: 12px; }
        .header__info--right a.new-year:before, .header__info--right a.new-year:after {
          display: table;
          content: " "; }
        .header__info--right a.new-year:after {
          clear: both; }
      .header__info--right small {
        font-family: "Open Sans", sans-serif;
        margin: 0 5px;
        color: #4D4B4B;
        font-size: 10px; }
    .header__info--reglink {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      color: #4D4B4B; }
    .header__info--basket {
      display: block;
      float: right;
      height: 48px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      background-color: #e37d97;
      padding: 10px;
      color: #FFF;
      text-decoration: none;
      position: relative;
      z-index: 2;
      -webkit-box-shadow: -5px 0px 5px -1px rgba(50, 50, 50, 0.5);
      -moz-box-shadow: -5px 0px 5px -1px rgba(50, 50, 50, 0.5);
      box-shadow: -5px 0px 5px -1px rgba(50, 50, 50, 0.5); }
      .header__info--basket--wrap {
        display: block;
        float: right;
        margin-top: 10px; }
      .header__info--basket--title {
        display: block;
        float: left;
        position: relative;
        padding-right: 10px;
        font-family: "PantonBold";
        font-size: 24px;
        z-index: 2; }
        .header__info--basket--title span {
          display: inline-block; }
        .header__info--basket--title:after {
          content: '';
          display: block;
          position: absolute;
          right: -14px;
          top: -10px;
          background-image: url("../img/Layer-5.png");
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          height: 48px;
          width: 14px;
          background-position: 50%; }
      .header__info--basket:hover, .header__info--basket:active, .header__info--basket:focus {
        color: #FFF; }
      .header__info--basket--numders {
        display: block;
        float: left;
        position: relative;
        padding: 0 0 0 15px;
        text-align: left;
        z-index: 2; }
        .header__info--basket--numders p {
          font-size: 12px;
          color: #FFF; }
          .header__info--basket--numders p span {
            display: block;
            float: left;
            width: 60px; }
          .header__info--basket--numders p b {
            text-decoration: underline;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            margin-right: 5px; }
        .header__info--basket--numders:after {
          content: '';
          width: 50px;
          height: 48px;
          background-image: url("../img/Shape-14.png");
          position: absolute;
          right: -20px;
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          background-position: 100% 50%;
          z-index: -1;
          top: -10px; }
  .header__search {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin: 25px 0; }
    .header__search--form {
      display: block;
      float: left;
      position: relative;
      width: 100%;
      height: 43px;
      margin-bottom: 10px; }
    .header__search--input {
      display: block;
      float: left;
      position: relative;
      width: 100%;
      margin-right: -50px;
      height: 43px;
      border: 1px solid rgba(0, 0, 0, 0.26);
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      border-radius: 6px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      -webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.15);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 10px;
      color: #000;
      font-size: 18px;
      outline: none; }
      .header__search--input:before, .header__search--input:after {
        display: table;
        content: " "; }
      .header__search--input:after {
        clear: both; }
    .header__search--but {
      display: block;
      float: left;
      position: absolute;
      right: 0;
      top: 0;
      height: 43px;
      line-height: 43px;
      border: 1px solid rgba(0, 0, 0, 0.26);
      width: 127px;
      color: #fff;
      font-family: "PantonBold";
      font-weight: 900;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      background-color: #0096ff;
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEyNyA0NSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDAwIiBzdG9wLW9wYWNpdHk9IjAuMiIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmYiIHN0b3Atb3BhY2l0eT0iMC4yIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTI3IiBoZWlnaHQ9IjQ1IiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
      background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
      background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
      background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
      background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
      text-align: center; }
      .header__search--but:hover, .header__search--but:focus, .header__search--but:active {
        background-color: #0078cc;
        text-decoration: none;
        color: #fff; }
    .header__search--example p {
      display: block;
      float: left;
      position: relative;
      margin-right: 5px;
      font-size: 12px;
      color: #6E6E6E; }
    .header__search--example a {
      display: block;
      float: left;
      position: relative;
      font-size: 12px;
      color: #6E6E6E;
      text-decoration: underline; }

a.header__info--basket--weigher {
  display: block;
  float: left;
  position: relative;
  width: 40px;
  height: 39px;
  margin-right: -10px;
  margin-top: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 5px;
  text-align: left;
  color: #FFF;
  font-size: 11px;
  font-family: "PantonBold";
  background-color: #e37c97;
  text-decoration: none;
  z-index: 0; }
  a.header__info--basket--weigher:before, a.header__info--basket--weigher:after {
    display: table;
    content: " "; }
  a.header__info--basket--weigher:after {
    clear: both; }
  a.header__info--basket--weigher:hover, a.header__info--basket--weigher:focus, a.header__info--basket--weigher:active {
    text-decoration: none;
    background-color: #da5276; }

.slider {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  height: 620px; }

.order {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  margin: 40px auto; }

a.all_goods {
  display: inline-block;
  vertical-align: super;
  width: 72px;
  height: 72px;
  line-height: 72px;
  background-color: #FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 5px 0 12px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 5px 0 12px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #e37d97;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  a.all_goods span {
    display: inline-block;
    position: relative;
    text-decoration: none;
    line-height: normal;
    vertical-align: middle; }
  a.all_goods:hover {
    -webkit-box-shadow: 5px 0 12px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 5px 0 12px 0 rgba(0, 0, 0, 0.3); }
    a.all_goods:hover span {
      text-decoration: underline;
      text-decoration-style: dotted; }

.order_item {
  display: block;
  position: relative;
  width: 241px;
  float: left;
  margin: 30px auto; }

.order_item_img {
  text-align: center; }

.zaglav {
  font-size: 30px;
  font-family: "PantonRegular";
  color: #4d4b4b;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center; }

.item_about {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #545454;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  padding: 10px 0 10px 0;
  margin: 20px auto; }

.price {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #544f4f;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  float: left; }
  .price i {
    padding-left: 5px; }

.new_price {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #ff4200;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-left: 20px; }

.shopping-cart {
  text-align: right; }

.catalog {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  float: left;
  color: #898989;
  text-decoration: underline;
  line-height: 1.2;
  text-align: left;
  margin: 5px auto; }
  .catalog span {
    color: #e37d97;
    text-decoration: underline; }

.strikethrough {
  position: relative;
  font-size: 16px; }

.strikethrough:before {
  border-bottom: 3px solid red;
  position: absolute;
  content: "";
  width: 100%;
  top: 50%;
  height: 0;
  transform: rotate(-16deg) translateY(-50%); }

.strikethrough:after {
  border-bottom: 3px solid red;
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  width: 100%;
  height: 0;
  transform: rotate(16deg) translateY(-50%); }

.description {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  margin: 40px auto; }
  .description h1.event {
    font-size: 30px;
    font-family: "PantonRegular";
    color: #ffa808;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 10px; }
  .description h1.about_company {
    font-size: 30px;
    font-family: "PantonRegular";
    color: #939393;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 13px; }
  .description p.date {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: #898989;
    line-height: 1.2;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px; }
    .description p.date img.calendar {
      margin: 0;
      padding: 0 5px 0 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: middle; }
  .description p.ad {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #f79100;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 10px; }
  .description p.ad_text {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #4d4b4b;
    line-height: 1.2;
    text-align: left; }
  .description p.text_company {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #4d4b4b;
    line-height: 1.2;
    text-align: left;
    margin: 10px 0 30px 0;
    line-height: 1.2;
    text-align: justify; }

.italic {
  font-style: italic;
  border-top: 2px dotted #4d4b4b;
  padding-top: 30px; }

.stat {
  margin: 15px 0 0;
  padding-bottom: 15px;
  border-bottom: 1px dotted #e5879f; }

.stat label {
  font-weight: bold; }

/* RATER PLUGIN */
.ui-rater > span {
  vertical-align: top; }

.ui-rater-rating {
  margin-left: .8em; }

.ui-rater-starsOff, .ui-rater-starsOn {
  display: inline-block;
  height: 18px;
  background: url(../img/stars.png) repeat-x 0 0px; }

.ui-rater-starsOn {
  display: block;
  max-width: 90px;
  top: 0;
  background-position: 0 -36px; }

.ui-rater-starsHover {
  background-position: 0 -18px !important; }

.ui-rater-rateCount {
  color: #a0a0a0; }

.ui-rater-starsOff {
  width: 90px;
  cursor: pointer; }

.ui-rater-starsOn {
  width: 36px;
  cursor: pointer; }

/*background-color: #efefef;*/
.slider-top-nav {
  height: 80px; }
  .slider-top-nav ul {
    padding-top: 32px; }
    .slider-top-nav ul li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 14px;
      margin-right: 20px; }
      .slider-top-nav ul li a {
        color: #000;
        font-family: "MyriadProRegular"; }

.plashka {
  background-color: #000000;
  width: 100%;
  height: 30px;
  margin-top: -50px;
  z-index: 999999; }

.custom-arrow-left {
  position: absolute;
  width: 42px;
  height: 84px;
  left: 0;
  top: 308px;
  cursor: pointer;
  background: url("../img/arrow-left.png") no-repeat; }

.custom-arrow-right {
  position: absolute;
  width: 42px;
  height: 84px;
  right: 0;
  top: 308px;
  cursor: pointer;
  background: url("../img/arrow-right.png") no-repeat; }

.footer {
  display: block;
  position: relative;
  width: 100%;
  height: 252px;
  float: left;
  margin: 40px auto;
  background: url("../img/footer_gray.png"); }
  .footer__info {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin: 25px 0; }
    .footer__info--contacts {
      display: block;
      float: left;
      position: relative;
      margin-top: 25px; }
      .footer__info--contacts h3 {
        font-size: 30px;
        color: white;
        margin-bottom: 20px;
        position: relative; }
        .footer__info--contacts h3:after {
          content: '';
          width: 21px;
          height: 44px; }

.icon-phone-wite {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  margin-right: 15px;
  width: 18px;
  height: 18px;
  background-image: url("../img/contacts-phone-wite.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center; }

.icon-clock-wite {
  display: inline-block;
  line-height: normal;
  margin-right: 15px;
  margin-bottom: 2px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
  width: 21px;
  height: 21px;
  background-image: url("../img/contacts-clock-wit.png"); }

div.footer_menu {
  display: block;
  position: relative;
  height: 30px; }
  div.footer_menu ul {
    padding-top: 32px; }
    div.footer_menu ul li {
      display: inline-block;
      text-decoration: underline;
      font-size: 12px;
      margin-right: 20px; }
      div.footer_menu ul li a {
        color: white;
        font-family: "MyriadProRegular"; }

/*# sourceMappingURL=style.css.map */
