@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext);
@font-face {
  font-family: 'PantonBold';
  src: url("../fonts/PantonBold.eot");
  src: url("../fonts/PantonBold.eot") format("embedded-opentype"), url("../fonts/PantonBold.woff2") format("woff2"), url("../fonts/PantonBold.woff") format("woff"), url("../fonts/PantonBold.ttf") format("truetype"), url("../fonts/PantonBold.svg#PantonBold") format("svg"); }
@font-face {
  font-family: 'PantonRegular';
  src: url("../fonts/PantonRegular.eot");
  src: url("../fonts/PantonRegular.eot") format("embedded-opentype"), url("../fonts/PantonRegular.woff2") format("woff2"), url("../fonts/PantonRegular.woff") format("woff"), url("../fonts/PantonRegular.ttf") format("truetype"), url("../fonts/PantonRegular.svg#PantonRegular") format("svg"); }
@font-face {
  font-family: 'PantonLight';
  src: url("../fonts/PantonLight.eot");
  src: url("../fonts/PantonLight.eot") format("embedded-opentype"), url("../fonts/PantonLight.woff2") format("woff2"), url("../fonts/PantonLight.woff") format("woff"), url("../fonts/PantonLight.ttf") format("truetype"), url("../fonts/PantonLight.svg#PantonLight") format("svg"); }
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:active,
a:hover {
  outline: 0; }

body {
  background-image: url("../img/body_bg.png");
  background-repeat: repeat-y;
  font-family: "PantonRegular"; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none;
  padding: 0; }

.block_title {
  color: #fff;
  font-size: 3.5em;
  text-align: center;
  margin-top: 15px; }

.p0 {
  padding: 0; }

.p5 {
  padding: 0 5px; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

@media only screen and (min-width: 1400px) {
  .container {
    width: 1130px; } }
@media only screen and (min-width: 1920px) {
  .container {
    width: 1300px; } }
.icon-info {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  background-image: url("../img/header-info.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
  width: 19px;
  height: 13px;
  margin-right: 3px; }
.icon-delivery {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
  width: 19px;
  height: 13px;
  margin-right: 3px; }

.header {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-image: url("../img/header_bg.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 50px;
  height: 305px; }
  .header__topline {
    display: block;
    float: left;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 10px;
    line-height: 40px;
    background-image: url("../img/topline-bg.png");
    background-repeat: repeat-x; }
    .header__topline:before, .header__topline:after {
      display: table;
      content: " "; }
    .header__topline:after {
      clear: both; }
    .header__topline a {
      display: inline-block;
      color: #FFF;
      font-size: 14px;
      margin-right: 15px; }
    .header__topline--center {
      text-align: center; }
    .header__topline--right {
      text-align: right; }
  .header__info {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    margin: 25px 0; }
    .header__info--logo {
      display: block;
      float: left;
      position: relative;
      width: 100%; }
      .header__info--logo img {
        width: 128px;
        display: block;
        margin: 0 auto;
        max-width: 100%; }
    .header__info--contacts p.title {
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      color: #898989; }
    .header__info--contacts p {
      font-size: 12px;
      color: #4D4B4B; }

.slider {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  height: 620px; }

.order {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  margin: 30px auto; }

.order_item {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  margin: 30px 60px auto; }

.zaglav {
  font-size: 30px;
  font-family: "PantonBold";
  color: #4d4b4b;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center; }

.item_about {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  color: #545454;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  padding: 10px 0 10px 0; }

/*background-color: #efefef;*/
.slider-top-nav {
  height: 80px; }
  .slider-top-nav ul {
    padding-top: 32px; }
    .slider-top-nav ul li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 14px;
      margin-right: 20px; }
      .slider-top-nav ul li a {
        color: #000;
        font-family: "MyriadProRegular"; }

.plashka {
  background-color: #000000;
  width: 100%;
  height: 30px;
  margin-top: -50px;
  z-index: 999999; }

.custom-arrow-left {
  position: absolute;
  width: 42px;
  height: 84px;
  left: 0;
  top: 308px;
  cursor: pointer;
  background: url("../img/arrow-left.png") no-repeat; }

.custom-arrow-right {
  position: absolute;
  width: 42px;
  height: 84px;
  right: 0;
  top: 308px;
  cursor: pointer;
  background: url("../img/arrow-right.png") no-repeat; }

/*# sourceMappingURL=style.css.map */
