.navigation {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	background-color: #FFF;
	-webkit-box-shadow: 0 0px 20px 3px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 0px 20px 3px rgba(0, 0, 0, 0.5);
	z-index: 9;
}

.navigation-mobile {
	display: none;
	width: 100%;
	position: absolute;
	top: 0;
	&__topline {
		top: 0;
		width: 100%;
		height: 50px;
		@include inside-pad;
		padding-bottom: 10px;
		line-height: 40px;
		background-image: url('../img/Layer-3.png');
		background-color: #E37D97;
		background-repeat: repeat-x;
		a {
			display: inline-block;
			color: #FFF;
			font-size: 14px;
			margin-right: 15px;
		}
	}
	a.navigation-mobile__menu-hide {
		display: block;
		float: right;
		margin-right: 0;
		margin-top: 5px;
		position: relative;
		width: 35px;
		height: 35px;
		color: #E37D97;
		background-color: #fff;
		text-align: center;
		line-height: 35px;
		font-size: 23px;
		@include border-radius(50%);
	}
	&__menu {
		display: block;
		float: left;
		width: 80%;		
		position: relative;
		z-index: 9;
		&--list {
			background-color: #D0607D;
			margin-bottom: 0;
			li {
				font-family: $os;
				font-weight: bold;
				font-size: 17px;
				width: 100%;
				border-bottom: 1px solid #E3A0B1;
				a {
					padding: 15px 0 15px 50px;
					color: #fff;
					display: block;
				}
			}
		}
		&--info {
			background-color: #E37D97;
			border-bottom: 1px solid #fff;
			margin-bottom: 0;
			li {
				font-family: $os;
				font-size: 17px;
				width: 100%;
				border-bottom: 1px solid #E3A0B1;
				a {
					padding: 15px 0 15px 50px;
					color: #fff;
					display: block;
				}
			}
		}
		&--contacts {
			@extend .navigation-mobile__menu--info;
			border-bottom: none;
			li {
				font-family: $os;
				font-size: 17px;
				width: 100%;
				border-bottom: 1px solid #E3A0B1;
				padding: 15px 0 15px 50px;
				color: #fff;				
				display: block;
				span {
					display: inline-block;
					vertical-align: middle;
					small {
						font-family: $l;
						display: block;
					}
					
				}
				span.email {
					font-family: $l;
					    vertical-align: middle;
					a {
						text-decoration: none;
						color: #FFF;
						font-family: $r;
						display: inline-block;
						padding: 0;
					}
				}
				i {
					vertical-align: middle;
				}
			}
		}
	}
	i.white-marker {
	    display: inline-block;
	    line-height: normal;
	    vertical-align: middle;
	    float: left;
	    width: 14px;
	    height: 14px;
	    background-image: url("../img/white-marker.png");
	    background-repeat: no-repeat;
	    -webkit-background-size: contain;
	    -o-background-size: contain;
	    background-size: contain;
	    background-position: center;
	    margin-right: 5px;
	    margin-top: 3px;
	}
	i.icon-envelope {
		display: inline-block;
	    line-height: normal;
	    vertical-align: middle;
	    float: left;
	    width: 14px;
	    height: 14px;
	    margin-right: 5px;
	    background-image: url("../img/envelope.png");
	    background-repeat: no-repeat;
	    -webkit-background-size: contain;
	    -o-background-size: contain;
	    background-size: contain;
	    background-position: center;
	    margin-top: 3px;
	}
}