.slider {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  height: 200px;
<<<<<<< HEAD
  background-color: #000000;
}
.order{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  margin: 30px auto;
}

.order_item {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  margin: 30px 60px auto;
}

//.order_item_img{
//  text-align: center;
//}
//
//.order_item_desc{
//  text-align: center;
//
//}

.zaglav{
  font-size: 30px;
  font-family: $b;
  color: rgb(77, 75, 75);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.item_about{
  font-size: 15px;
  font-family: $os;
  color: rgb(84, 84, 84);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  padding: 10px 0 10px 0;
}

.u {
  font-size: 18px;
  font-family: "PantonIcons";
  color: rgb(77, 75, 75);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 899.844px;
  top: 977.2px;
  z-index: 223;
}
/*background-color: #efefef;*/

.slider-top-nav {
  height: 80px;
  ul{
    padding-top: 32px;
    li{
      display: inline-block;
      text-transform: uppercase;
      font-size: 14px;
      margin-right: 20px;
      a {
        color: #000;
        font-family: $mpreg;
      }
    }
  }
}

.slider-box {

}
