.slider {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  height: 620px;
}
.order{
  display: block;
  position: relative;
  width: 100%;
  float: left;
  margin: 40px auto;
}

.order_item {
  display: block;
  position: relative;
  width: 241px;
  float: left;
  margin: 30px auto;
}

.order_item_img{
  text-align: center;
}

.zaglav{
  font-size: 30px;
  font-family: $b;
  color: rgb(77, 75, 75);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.item_about{
  font-size: 14px;
  font-family: $os;
  color: rgb(84, 84, 84);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  padding: 10px 0 10px 0;
  border-bottom: 2px dotted rgb(227, 125, 151);
  margin: 20px auto;
}

.price {
  font-size: 24px;
  font-family: $os;
  color: rgb(84, 79, 79);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  float: left;
}

.new_price{
  font-size: 24px;
  font-family: $os;
  color: rgb(255, 66, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-left: 20px;
}


.shopping-cart{
  text-align: right;
}

.catalog {
  font-size: 12px;
  font-family: $os;
  float: left;
  color: rgb(137, 137, 137);
  text-decoration: underline;
  line-height: 1.2;
  text-align: left;
  margin: 5px auto;
  span {
    color: rgb(227, 125, 151);
    text-decoration: underline;
  }
}

.strikethrough {
  position: relative;
  font-size: 16px;
}

.strikethrough:before {
  border-bottom: 3px solid red;
  position: absolute;
  content: "";
  width: 100%;
  height: 84%;
  transform: rotate(-16deg);
}


/*background-color: #efefef;*/

.slider-top-nav {
  height: 80px;
  ul{
    padding-top: 32px;
    li{
      display: inline-block;
      text-transform: uppercase;
      font-size: 14px;
      margin-right: 20px;
      a {
        color: #000;
        font-family: $mpreg;
      }
    }
  }
}

.plashka {
  background-color: #000000;
  width: 100%;
  height: 30px;
  margin-top: -50px;
  z-index: 999999;
}

.custom-arrow-left {
  position: absolute;
  width: 42px;
  height: 84px;
  left: 0;
  top: 308px;
  cursor: pointer;
  background: url("../img/arrow-left.png") no-repeat;
}

.custom-arrow-right {
  position: absolute;
  width: 42px;
  height: 84px;
  right: 0;
  top: 308px;
  cursor: pointer;
  background: url("../img/arrow-right.png") no-repeat;
}

.slider-box {

}
