.slider {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  height: 200px;
  background-color: #000000;
}
.order{
  display: block;
  position: relative;
  width: 100%;
  float: left;
}

.order_item {
  font-size: 30px;
//  font-family: ;
  color: rgb(77, 75, 75);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
