$main: #35618f;

a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

ul {
	list-style-type: none;
	padding: 0;
}

.block_title {
	color: #fff;
    font-size: 3.5em;
	text-align: center;
	margin-top: 15px;	
}

.p0  {
	padding: 0;
}

.p5 {
	padding: 0 5px;
}

.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}





@media only screen and (min-width: 1000px) {
  .container {
    width: 759px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    width: 1000px;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    width: 1300px;
  }
}



