@media only screen and (max-width: 1050px) {

}

@media only screen and (max-width: 770px) {
  .header__topline a {
        font-size: 10px;
        margin-right: 5px;
      }
  .header__info--contacts h3 {
        font-size: 25px;
      }
  .header__info--contacts p {
        font-size: 10px;
      }
  .header__info--contacts p.title {
        font-size: 10px;
      }
  .order {
        display: block;
        position: relative;
        width: 100%;
        float: left;
        margin: 5px auto;
      }
  .order .zaglav {
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        margin: 15px auto;
      }
  a.all_goods{
		background: none;
		-webkit-box-shadow: none;
		        box-shadow: none;
	    display: block;
        font-size: 28px;
	    width: auto;
	}
  a.all_goods:hover{
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    .order .order_item {
        display: block;
        position: relative;
        width: 241px;
        float: none;
        margin: 30px auto;
    }
    .description h1.event {
        text-align: center;
        margin-bottom: 10px;
      }
    .description h1.about_company {
        text-align: center;
        margin: 30px auto;
      }
    .footer__info--contacts {
        margin-top: 15px;
        margin-left: 135px;
        &--callback{
          display: none;
        }
    }
    .footer__info--contacts--time{
      display: none;
      &--text{
        display: none;
      }
    }
    .footer__mailing{
        display: none;
        }
    .footer__dev a {
        margin: 33px auto;
        text-align: center;
      }
    a.header__info--basket--weigher {
    	display: none;
    }
    .slider-top-nav ul li {
	    display: inline-block;
	    margin: 5px;
	}
	.slider-top-nav ul {
		padding: 15px 0;
	}
	.slider-box__item--desc {
	    position: absolute;
	    width: 80%;
	    bottom: 50px;
	    left: 10%;
	    text-align: center;
	}
	.slider-box__item--desc a {
		display: inline-block;
		margin: 0 auto;
		float: none;
    }
    .slider .fotorama__nav-wrap {
  		margin-top: -30px;
  		height: 30px;
  		background: #fff;
  		display: block;
  		float: left;
  		width: 150%;
  		margin-left: -25%;
    }
  .footer__logo {
      img {
        display: block;
        margin-top: auto;
        max-width: 100%;
      }
    }

    .footer__info--contacts {
      margin-left: 0;
    }

    .footer__address .title_mail {
      line-height: 40px;
      a {
        display: inline-block;
      }
    }
}

@media only screen and (max-width: 670px) {
	.header__topline--center {
	    text-align: left;
	    a {
			font-size: 12px;
			background-color: #f4d2da;
			height: 30px;
			line-height: 30px;
			color: #5b1526;
			text-align: center;
			margin-top: 5px;
			border-radius: 5px;
			padding: 0 5px;
			&:hover {
				text-decoration: underline;
			}
	    }
	}
	.header__topline--right {
		h3 {
			color: #FFF;
			font-size: 12px;
			.icon-phone-wite {
				margin-right: 5px;
			}
		}
	}	  
}

@media only screen and (max-width: 500px) {
	.slider-box__item--desc h2 {
		font-size: 27px;
		span {
			line-height: 41px;
		}
	}
  .order .zaglav {
    font-size: 25px;
  }
   div.footer_menu {
    display: none;
  }
  .footer__info--contacts {
    margin-top: 15px;
    margin-left: 64px;
    & h3{
      font-size: 23px;
    }
  }
  .footer__address {
    margin-left: 47px;
    padding: 0;
  }
  .footer__dev a {
    text-align: left;
    font-size: 18px;
    margin: 20px auto;
  }
  .footer__dev img {
    width: 275px;
    height: 45px;
    display: block;
    text-align: left;
    margin: 0;
  }
  ._8–800–505–15–89 {
    font-size: 29px;
    font-family: "Panton";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 1.37294270805988,0,0,1.37142665816593,0,0);
    -webkit-transform: matrix( 1.37294270805988,0,0,1.37142665816593,0,0);
    -ms-transform: matrix( 1.37294270805988,0,0,1.37142665816593,0,0);
    position: absolute;
    left: 314.002px;
    top: 10666.5px;
    z-index: 18;
  }

	.toggle-menu, .xs-basket-but {
		display: block;
	}
  
}


@media only screen and (max-width: 320px) {
	.toggle-menu, .xs-basket-but {
		font-size: 12px;
		i {
			font-size: 20px;
		}
	}

}